.boddy img{
    width: 100%;
}
body{
    background: gray;
    margin: 0;
}
header{
    background: white;
    text-align: center;
    padding: 10px;
}
div
{
    box-sizing: border-box;
}
header h1{
    margin: 0;
}
div.post
{
    background: white;
    margin-top: 15px;
}
.container
{
    width: 600px;
    margin: auto;
}
.post h2, .post p{
    padding: 10px;
    margin: 0;
}
div.post .post-header div:first-child{
    display: inline-block;
    width: 80%;
}
div.post .post-header div:last-child{
    display: inline-block;
    width: 20%;
    text-align: right;
    padding: 10px;
    color: lightgray;
}